.projectContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-margin-top: 6.6rem;
}

.projectsList {
  width:100%;
  display:flex;
  flex-direction:column;
  align-items:center;
}

.subtitle{
  margin-bottom:1.5rem;
}